.navbar.navbar-default.navbar-static-top
  .container
    %button.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-responsive-collapse")
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    = link_to 'Home', root_path, class: "navbar-brand"
    .navbar-collapse.collapse.navbar-responsive-collapse
      %ul.nav.navbar-nav
        %li

        = form_tag search_pages_path, method: "get", class: 'navbar-form navbar-left' do
          .form-group
            = text_field_tag :search_name, nil, placeholder: "Search for friends", class: "form-control"
          = submit_tag "Search", class: 'btn btn-default'
        - if user_signed_in?
          %li= link_to "My Lounge", user_exercises_path(current_user)
          %li= link_to "Log out", destroy_user_session_path, method: :delete
        - else
          %li= link_to "Log in", new_user_session_path