= form_for [current_user, @exercise], html: {class: "form-horizontal", role: "form"} do |f|

  -if @exercise.errors.any?
    #error_explanation
      %h2
        = pluralize(@exercise.errors.count, "error")
        prohibited this exercise from being saved:
      %ul
      - @exercise.errors.full_messages.each do |msg|
        %li
          = msg
  .row
    .col-md-6.col-md-offset-3
      = f.label :duration
      = f.number_field :duration, class: "form-control", placeholder: "Enter amount in minutes", id: "exercise-form-fields"
  %br/
  .row
    .col-md-6.col-md-offset-3
      = f.label :workout_details
      = f.text_area :workout_details, class: "form-control", placeholder: "i.e. 'pushups and situps'", id: "exercise-form-fields"
  %br/
  .row
    .col-md-6.col-md-offset-3
      = f.label :activity_date
      = f.text_field :activity_date, placeholder: 'yyyy/mm/dd', class: "form-control datepicker", id: "exercise-form-fields"
  %br/
  .row
    .col-md-6.col-md-offset-3
      = f.submit class: "btn btn-primary"
      |
      = link_to 'Back', user_exercises_path(current_user), class: "btn btn-danger link", id: "new_exercise_btn"